/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.name {
  width: 160px;
  height: 30px;
  float: left;
  color: cornflowerblue;
}

.message {
  margin: 10px 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  flex-grow: 2;
  font-family:
    Red hat Display,
    sans-serif;
  font-weight: 400;
  height: 100px;
}

.form {
  display: flex;
  flex-direction: column;
}
