<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Chat</title>
</head>
<body>
<!--    <nav>-->
<!--        <a href="index.html">Главная</a>-->
<!--    </nav>-->
	<h1>Chat Messages</h1>
	<section>
			<button class="show">Show</button>
		<div class="messages"></div>
	</section>
	<section>

<!--		<div class="container">-->
<!--			<div class="name">User1</div>-->
<!--			<p>Сообщение от пользователя 1</p>-->
<!--			<span class="time-right">11:00</span>-->
<!--		</div>-->
<!--		<div class="container darker">-->
<!--			<div class="name">User2</div>-->
<!--			<p>Сообщение от пользователя 2</p>-->
<!--			<span class="time-right">11:01</span>-->
<!--		</div>-->
<!--		<div class="container">-->
<!--			<div class="name">User1</div>-->
<!--			<p>Сообщение от пользователя 1</p>-->
<!--			<span class="time-right">11:00</span>-->
<!--		</div>-->
<!--		<div class="container darker">-->
<!--			<div class="name">User2</div>-->
<!--			<p>Сообщение от пользователя 2</p>-->
<!--			<span class="time-right">11:01</span>-->
<!--		</div>-->
<!--		<div class="container">-->
<!--			<div class="name">User1</div>-->
<!--			<p>Сообщение от пользователя 1</p>-->
<!--			<span class="time-right">11:00</span>-->
<!--		</div>-->
<!--		<div class="container darker">-->
<!--			<div class="name">User2</div>-->
<!--			<p>Сообщение от пользователя 2</p>-->
<!--			<span class="time-right">11:01</span>-->
<!--		</div>-->
<!--		<div class="container">-->
<!--			<div class="name">User1</div>-->
<!--			<p>Сообщение от пользователя 1</p>-->
<!--			<span class="time-right">11:00</span>-->
<!--		</div>-->
<!--		<div class="container darker">-->
<!--			<div class="name">User2</div>-->
<!--			<p>Сообщение от пользователя 2</p>-->
<!--			<span class="time-right">11:01</span>-->
<!--		</div>-->
<!--		<div class="container">-->
<!--			<div class="name">User1</div>-->
<!--			<p>Сообщение от пользователя 1</p>-->
<!--			<span class="time-right">11:00</span>-->
<!--		</div>-->
<!--		<div class="container darker">-->
<!--			<div class="name">User2</div>-->
<!--			<p>Сообщение от пользователя 2</p>-->
<!--			<span class="time-right">11:01</span>-->
<!--		</div>-->
        <form >
			<label>Name:</label>
			<input id="username" placeholder="enter username">
			<div class="form">
				<textarea class="message" placeholder="enter message"></textarea>
			</div>
        </form>
		<button class="send">Отправить</button>
    </section>
</body>
</html>