<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Chat</title>
</head>
<body>
<h1>Chat Messages</h1>
<main>
	<section>
		<button class="show">Show</button>
		<div>
			<div class="messages"></div>
		</div>
		<div class="send-block">
			<div>
				<label>Name:</label>
				<input id="username" placeholder="enter username">
				<button class="send">Отправить</button>
			</div>
			<div>
				<textarea class="message" placeholder="enter message"></textarea>
			</div>
		</div>
	</section>

</main>
</body>
</html>