@import "./chat.css";

h1 {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
}

main {
  margin: auto auto; /* Центрируем блоки */
  width: 100%; /* Задаем ширину 100% что бы сделать ее резиновой */
  max-width: 2000px; /* Устанавливаем максимальную ширину */
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}
